body {
    background-color: gray;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid black;
    margin: 30px;

}
#btn-box {
    display:  flex;
    justify-content: center;
}
#title {
    color: darkred;
    text-align: center;
}

.weapon-choice {
    text-align: center;
}
#scoreBoard-label,
#scoreBoard-score,
#results-text {
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 1px solid black; */
    padding: 10px;
}

.astartes {
    margin-top: 30px;
    padding: 0 40px;
}

.score {
    padding: 0 40px;
}
#results-text {
    border: 1px solid black;
}